<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Anasayfa</a>
                    </li>
                    @{
                        if (Session["Musteri"] != null)
                        {
                            Dictionary<string, string> values = Session["Musteri"] as Dictionary<string, string>;
                            <li class="nav-item">
                                <a class="nav-link" href="/Order/Cart">Sepetim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Order/MyOrders">Siparişlerim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Profile/Index">Profil</a>
                            </li>
                            if (values["Rol"] == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/Admin/Index">Ayarlar</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/User/Logout">Çıkış</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/User/Login">Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/User/Register">Üye Ol</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function() {
          $('a.active').removeClass('active').removeAttr('aria-current');
          $('a[href="' + location.pathname + '"]').addClass('active').attr('aria-current', 'page'); 
        });
    </script>
</body>
</html>
